#logo{
    color: blue;
    position: relative;
    top: 150px;
    left: 50px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#p{
    position: relative;
    top: 140px;
    left: 50px;
    color: white;
}

body{
    background-color: black;
}

#face{
    height:300px;
    width: 300px;
    background-color: white;
    position: relative;
    left: 700px;
    border-radius: 15px;
}

#book{
    color: blue;
    font-size: xx-large;
    position: relative;
    left: 75px;
    top: 25px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#first{
    position: relative;
    left: 70px;
    height: 25px;
    background-color:rgba(231, 230, 230, 0.5);
    border: solid;
    border-radius: 5px;
   
}

#second{
    position: relative;
    top: 15px;
    left: 70px;
    height: 25px;
    background-color: rgba(231,230,230,0.5);
    border: solid;
    border-radius: 5px;

}

#buttons button{
    position: relative;
    top: 35px;
    left: 70px;
    width: 170px;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

#p2{
    position: relative;
    left: 100px;
    top: 30px;
    color: blue;
}

#new{
    position: relative;
    top: 40px;
    left: 90px;
    background-color: green;
    color: white;
}